/* CSS for navbar */
.navbar {
    background-color: #c2d4e5;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .image {
    flex: 0 0 auto; /* Prevent the logo from stretching */
  }
  
  .navbar .logo {
    height: 150px; /* Adjust the height of the logo as needed */
  }
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 100px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  /* CSS for dashboard section */
  .dashboard {
    padding: 50px;
  }
  
  .dashboard h1 {
    color: #333333;
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
  }
  
  .appointment, .services {
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
    color: #0eca14;
  }
/* Updated CSS for the button */
.button {
    background-color: #0eca14; /* Change the background color to green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0eb242; /* Darker shade of green on hover */
  }
  
 /* Additional CSS for formatting */
.appointment-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointment-table th,
  .appointment-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #0eca14;
  }
  
  .appointment-table td {
    font-weight: bold;
  }
  
  .appointment-table tbody tr:nth-child(even) {
    background-color: #0eb242;
  }
  
  /* CSS for showing/hiding appointments */
  #appointmentTable {
    display: none;
  }
   
/* Updated CSS for footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c2d4e5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Adjust the maximum width of the container as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  footer .copyright h1 {
    margin: 0;
  }
  
  footer .links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer .links ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer .links ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  footer .profiles a {
    color: #333333;
    margin-right: 10px;
  }
  
  footer .profiles a:hover {
    color: #007bff;
  }
  