body {
    background: rgb(94, 207, 255);
    color: #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #7ce5ff;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.message{
    color:#0d7110;
    font-size: 20px;
}

.failed-message{
    color:#d90202;
    font-size: 20px;
}

.goto-homepage{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white
}

.goto-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin: auto;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.error-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #d90202;
}

.yo-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: green ;
}

.emotional-damage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
}